.text--area__container {
    text-align: center; 
    padding-left: 1rem;
    padding-right: 1rem;
}

.text--area__header {
    font-family: var(--font-open-sans);
    font-weight: 700;
}

.text--area__text {
    font-family: var(--font-open-sans);
    font-weight: 400;
}
