.subheader__section {
    display: flex;
    flex-direction: column;
}

.subheader--text__container {
    text-align: center; 
    padding-left: 1rem;
    padding-right: 1rem;
}

.subheader--text__header {
    font-family: var(--font-open-sans);
    font-weight: 700;
}

.subheader--text__text {
    font-family: var(--font-open-sans);
    font-weight: 400;
}

.subheader--button__container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.subheader--button__button {
    font-family: var(--font-open-sans);
    font-weight: 700;
    background-color: var(--teal-green);
    color: white;
    border: none;
    border-radius: 10px;
    width: 6rem;
    height: 2rem;
    box-shadow: 0px 5px 5px darkgray;
}

.subheader--circle__container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.subheader--circle__shape {
    background-color: var(--teal-green);
    position: relative;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;

}

.subheader--circle__icon {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.subheader--ruler__container {
    display: flex;
    justify-content: center;
}

.subheader--ruler__ruler {
    background-color: var(--dark-teal);
    border-radius: 5px;
    margin: 1rem;
    height: 3px;
    width: 10rem;
}