.footer__section {
    background-color: var(--light-brown);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    padding: 1rem;
}

.footer__container img {
    justify-self: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 769px) {
    .footer__container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        padding: 2rem;
        gap: 1rem;
    }

    .footer__container img {
        min-height: 18rem;
        max-width: 100%;
    }

    .back--to--top__container {
        font-size: 1.5rem;
        padding: 1rem 0;
    }
}