.new--plant__section {
    display: flex;
    flex-direction: column;
}

.new--plant--title__container {
    display: flex;
    justify-content: center;
}

.new--plant--title__title {
    font-family: var(--font-open-sans);
    font-weight: 40;
    font-size: 1.5rem;
}

.new--plant__form {
    padding-left: 1rem;
    padding-right: 1rem;
}

.new--plant--form__item {
    font-family: var(--font-open-sans);
    font-weight: 40;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.new--plant--form__label {
    display: block;
}

.new--plant--form__input {
    display: block;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: 100%;
    box-shadow: 0px 3px 5px lightgray;
}

@media screen and (min-width: 769px) {
    .new--plant__section {
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

    .new--plant--title__container {
        justify-content: start;
        padding-top: 1rem;
    }

    .new--plant--title__title {
        font-size: 2rem;
    }

    .new--plant__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
        padding: 0;
    }

    .new--plant--form__label {
        font-size: 1.25rem;
        grid-row: 1;
    }

    .new--plant--form__input {
        grid-row: 2;
        width: 95%;
    }

    .new--plant__section .teal--button__container {
        grid-row: 2;
        grid-column: span 2;
    }

    .new--plant__section .teal--button__button {
        padding: 1rem 2rem;
    }
}