:root {
    --font-maven-pro: "Maven Pro", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-lato: "Lato", sans-serif;
    --font-inter: "Inter", sans-serif;

    --cool-white: #FCF6FC;
    --light-red: #B93857;
    --light-brown: #9E6D52;
    --light-teal: #0A846E;
    --dark-teal: #055647;
}

body {
    margin: 0;
}

@media screen and (min-width: 769px) {
    body {
        background-color: var(--cool-white);
    }

    .desktop__container {
        background-color: white;
        margin-left: 12rem;
        margin-right: 12rem;
        box-shadow: 0 0 3px darkgray;
    }
}
