.footer__section {
    background-image: url(../../../assets/imgs/homepage-footer.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 48rem;
}

.footer--logo__container {
    flex: 1;
}

.footer--logo__logo {
    transform: translate(40%, 30%);
}

.footer--contact__container {
    font-family: var(--font-maven-pro);
    background-color: rgba(0, 0, 0, 0.8);
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: end;
    padding-bottom: 1rem;
}

.footer--contact__title {
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
    position: absolute;
    transform: translate(8rem, 8rem);
    margin: 0;
}

.footer--contact--phone__container {
    display: flex;
    justify-self: start;
    padding-left: 1rem;
    white-space: nowrap;
}

.footer--contact--phone__container a {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 0.5rem;
}

.footer--contact--mail__container {
    display: flex;
    justify-self: end;
    padding-right: 1rem;
    white-space: nowrap;
}

.footer--contact--mail__container a {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    padding-right: 0.5rem;
}

@media screen and (min-width: 769px) {
    .footer__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        background-size: cover;
        height: 44rem;
    }

    .footer--logo__container {
        grid-column: 2;
        display: grid;
    }

    .footer--logo__logo {
        height: 15rem;
        justify-self: center;
        align-self: center;
        transform: translate(0, 0);
    }

    .footer--contact__container {
        grid-column: 1;
        grid-row: 1;
        padding-bottom: 2rem;
    }

    .footer--contact__title {
        font-size: 4rem;
        justify-self: center;
        align-self: center;
        transform: translate(0, 0);
    }

    .footer--contact--phone__container a {
        font-size: 1.5rem;
    }

    .footer--contact--phone__container img {
        height: 2rem;
    }

    .footer--contact--mail__container a {
        font-size: 1.5rem;
    }

    .footer--contact--mail__container img {
        height: 2rem;
    }

    .back--to--top__container {
        grid-row: 2;
        grid-column: span 2;
        font-size: 1.5rem;
        padding: 1rem 0;
    }
}