.grid--header__container {
    display: flex;
    justify-content: center;
}

.grid__header {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 1rem;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    justify-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 769px) {
    .grid__header {
        font-size: 2rem;
    }

    .grid__container {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 2rem;
        column-gap: 1rem;
        row-gap: 2.5rem;
    }
    
    .grid__container .card {
        row-gap: 1rem;
        max-width: 19rem;
    }
    
    .grid__container .card--img__container {
        max-height: 17rem;
    }
    
    .grid__container .card--content__container {
        row-gap: 1.5rem;
        padding-bottom: 1rem;
    }

    .grid__container .card--content__title {
        font-size: 1.5rem;
    }

    .grid__container .card--content__date {
        font-size: 1rem;
    }

    .grid__container .card--content__author {
        font-size: 1rem;
    }

    .grid__container .card--content__delete {
        font-family: var(--font-open-sans);
        font-weight: 700;
        font-size: 1rem;
        text-indent: 0;
        background-color: var(--light-red);
        color: white;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
    }

    .grid__container .card--img__icon {
        background-image: url(../../../assets/icons/plant-desktop.svg);
        transform: translateY(15%);
        height: 13rem;
        width: 13rem;
    }
}