.grid--header__container {
    display: flex;
    justify-content: center;
}

.grid__header {
    font-family: var(--font-open-sans);
    font-weight: 600;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    justify-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}